.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 15px;
  }

  .imgCard {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  a{
    text-decoration: none;
  }
  
  h1{
    text-align: center;
  }

  p{
    text-align: center;
  }

