<!--
    <mat-card class="atividade-card">
        <mat-card-title> {{ atividade.titulo }}</mat-card-title>
        <mat-card-content><img class="imgCard" src="assets\atvExemplo.png" alt="logo">
        </mat-card-content>
        <mat-card-content>Componente: {{ atividade.materia }}</mat-card-content>
        <mat-card-content>Série: {{ atividade.serie }}</mat-card-content>
        <button mat-raised-button (click) = "navigateToAtividades()" color="primary">
            Voltar
        </button>
    </mat-card>
-->

<section fxLayout="column" fxFlexAlign="center"> 
    <ul class="breadcrumb">
        <li><a href="/home">Início</a></li>
        <li><a href="/atividades">Atividades</a></li>
    </ul>
    
<h1>{{atividade.titulo}}</h1>
<img class="imgCard" src="assets\atvExemplo.png" alt="logo">
<p>Componente: {{atividade.materia}}</p>
<p>Série: {{atividade.serie}}</p>
<button mat-raised-button  (click) = "navigateToAtividades()" color="primary">
    Voltar
</button>

</section>