

<div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="50%" class="conteudo"> 
  <ul class="breadcrumb">
      <li><a href="/home">Início</a></li>
      <li><a href="/artigos">Artigos</a></li>
      <li><a routerLink="/artigo">{{artigo.titulo}}</a></li>
  </ul>
 
    
          <mat-card  class="mat-elevation-z4">
            <mat-card-header><h1>
              <mat-card-title>
                {{artigo.titulo}}
              </mat-card-title></h1>
            </mat-card-header>
             <mat-card-content>
               <mat-card-subtitle>Resumo: {{artigo.descricao}}</mat-card-subtitle>
               <p>Data de postagem: {{artigo.data}}</p><br>
               <p>{{artigo.texto}}</p>
             </mat-card-content>
             <mat-card-actions>
               <button mat-button routerLink="/artigos" color="primary">Voltar</button>
               <button mat-button>Download</button>
             </mat-card-actions>
          </mat-card>
</div>

    