form {
    display: flex;
    flex-direction: column;
}

button{
    width: 15%;
    margin: auto;
    margin-top: 15px;
    margin-bottom:15px ;
}

.conteudo{
    margin: auto;
}
.mat-card-title{
    margin-bottom: 25px;

}